.home_body {
      margin-top: 2rem;
}

.welcome {
      display: grid;
      align-items: center;
      color: #ffff;
      font-size: xx-large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.welcome_2 {
      color: #ffff;
      font-size: large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homeCard-div-holder {
      margin-top: 4rem;
      max-width: 100%;
      display: grid;
      gap: 1rem;
      padding: 2.5%;
      background-color: #E8EEF2;
      border-radius: 5px;
}

@media (min-width: 600px) {
      .homeCard-div-holder {
            grid-template-columns: repeat(3, 1fr);
      }
}

@media (min-width: 900px) {
      .cahomeCard-div-holder {
            grid-template-columns: repeat(3, 1fr);
      }
}

.homeCard {
      border-radius: 10px;
      border-color: aliceblue;
      border-style: double;
      padding: 5px;
      background-color: #80D3F9;
      max-width: auto;
}

.homeCard:hover {
      cursor: pointer;
      transform: translateY(-0.2rem);
}

.title-homecard {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 2px;
      border-color: black;
}

.icon_holder {
      display: grid;
      align-content: center;
      margin-right: 10px;

}

.body_homecard {
      display: flex;

}

.arrow_homecard {
      display: grid;
      align-content: center;
}


h1,
h2 {
      text-align: center;
}