.homebody-container {
      height: 100%;
      width: 100%;
      background-color: #f8f4f4;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      row-gap: 10px;
}

.title h2 {
      text-transform: uppercase;
      font-size: xx-large;
      font-weight: 600;
      text-align: center;
      color: rgb(65, 66, 69);
      text-decoration: underline;
}

.tool-container {
      font-size: larger;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      text-decoration: underline;
      text-underline-offset: 4px;

}

.card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 15px;
}

.cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 8px;
}

.homeCard {
      border-radius: 10px;
      background-color: #eaf2f2;
      border: 1px solid black;
      cursor: pointer;

}

.title-homecard {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      border-bottom: 1px solid #000;
}

.title {
      font-weight: 600;
      font-size: larger;
      color: #464040;
}

.body_homecard {
      display: flex;
      justify-content: flex-start;
      padding: 4px;
}

.body_homecard h4 {
      color: #464040;
      font-size: medium;
}

.homeCard:hover {
      border-radius: 5px;
      box-shadow: 0px 10px 20px 0px rgb(2, 30, 11);
}

@media only screen and (max-width: 640px) {
      .cards {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 10px;
      }
}