@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #09ad3d;
  height: fit-content;
}

* {
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

::-webkit-scrollbar {
  display: none;
}
